.blockSlider {
    display: flex;
    max-width: 500px;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.fullArea{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.pic-slider{
    display: flex;
    width: 500px;
    height: 300px;
}
.dotArea{
    display: flex;
    width: 150px;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
}
.dot{
    display: flex;
    width: 10px;
    height: 10px;
    background: rgb(173, 113, 182);
    border-radius: 100px;
    cursor: pointer;
}
.dot:hover{
    background: rgb(170, 175, 245);
    cursor: pointer;
}
.imagesArea{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pic-slider{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.active-pic-slider{
    display: flex;
}
.navButtonArea{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.navButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navButtonLeft, .navButtonRight{
    color: rgb(127, 37, 127);
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
}
.navButton:hover{
    background: rgba(40,40,40,0.55);
    cursor: pointer;
    border: 1px solid white;
    color: white;
}
.navButton:active{
    background: rgba(15,15,15,0.55);
    cursor: pointer;
    border: 1px solid white;
    color: white;
}
