<div class="blockSlider">
    <div class="fullArea">
        <div class="imagesArea">
            <img class="pic-slider" src="../Views/Shared/slider/london.jpg" alt="" />
            <img class="pic-slider" src="../Views/Shared/slider/ny.jpg" alt="" />
            <img class="pic-slider" src="../Views/Shared/slider/spb.jpg" alt="" />
        </div>
        <div class="dotArea">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="navButtonArea">
            <button class="navButton" id="navButtonLeft">PREV</button>
            <button class="navButton" id="navButtonRight">NEXT</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="../Static/JS/slider.js"></script>